.header {
  padding-top: 30px;
  padding-bottom: 30px;
  position: fixed;
  z-index: 100000;
  background-color: #fff;
  width: 100%;
  box-shadow: 0px 0px 10px 0px #000;
}

.header__inner {
  display: flex;
  align-items: center;
}

.logo__container {
  margin-right: 210px;
}

.logo {}

.nav {
  margin-right: 50px;
}

.menu-btn__container {
  display: none;
}

.menu {
  display: flex;
  gap: 30px;
}

.menu-contacts {
  display: none;
}

.burger__menu {
  display: none;
}

.burger-close {
  display: none;
}

.menu__item {}

.menu__link {
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.54px;
  color: var(--primary-color);
}

.btn__container {}

.btn__header {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  /* letter-spacing: 0.54px; */
  padding: 8px 20px;
  border-radius: 5px;
  color: var(--blue-color);
  border: 2px solid var(--blue-color);
  cursor: pointer;
  transition: .3s;
}

.btn__header:hover {
  background-color: var(--blue-color);
  color: #fff;
}

.active__link {
  color: var(--blue-color);
  font-weight: 800;
}

.messengers {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  padding: 10px;
}

.viber {
  background-color: #C652EE;
}

.whatsapp {
  background-color: #A7D91A;
}


/* MAIN__SECTION */
.main__section {
  padding-bottom: 50px;
  padding-top: 100px;
}

.main__section-inner {
  display: flex;
  align-items: center;
  gap: 28px;
}

.main__section--right-block {
  max-width: 496px;
}

.right__block--title-block {
  position: relative;
}

.title__block-title {
  font-family: 'Lora', serif;
  font-size: 131px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.93px;
  color: var(--blue-color);
}

.hotel {
  position: absolute;
  right: 0;
  top: 20px;
}

.right__block-text {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 141.182%;
  letter-spacing: 0.48px;
  color: var(--primary-color);
  margin-bottom: 40px;
}

.main__section--btn-container {}

.main__section-btn {
  color: #FFF;
  text-align: center;
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.66px;
  background-color: var(--orange-color);
  padding: 17px 48px;
  border-radius: 10px;
  cursor: pointer;
  transition: .5s;
}

.main__section-btn:hover {
  opacity: .9;
}

/* ABOUT-US */
.about-us {
  padding: 50px 0;
}

.section__titles {
  font-family: 'Lora', serif;
  font-size: 50px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.5px;
  color: var(--blue-color);
  margin-bottom: 80px;
}

.about__us-inner {
  display: flex;
  align-items: center;
  gap: 30px;
}

.about__us-paragraphs {
  max-width: 390px;
  font-size: 16px;
  font-weight: 400;
  line-height: 141.182%;
  letter-spacing: 0.48px;
  color: var(--primary-color);
}

.about__us-text {
  margin-bottom: 20px;
}

.about__us-text:last-child {
  margin-bottom: 0;
}

.about__us-img {}


/* SERVICES */
.services {
  padding: 50px 0;
}

.container {}


.services__list {
  display: grid;
  grid-template-columns: repeat(3, 237px);
  justify-content: center;
  column-gap: 154px;
  row-gap: 76px;
}

.services__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.services__item-icon {
  margin-bottom: 20px;
}

.services__item-title {
  margin-bottom: 10px;
  color: #2F70D9;
  font-family: 'Lora', serif;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
}

.services__item-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 141.182%;
  letter-spacing: 0.42px;
  color: var(--primary-color);
}

/* OUR-NUMBERS */
.our__numbers {
  padding: 50px 0;
}

.our__numbers-inner {
  display: flex;
  justify-content: space-between;
}

.our__numbers-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.our__numbers-card {
  min-width: 285px;
  padding: 40px 28px;
  border: 3px solid var(--blue-color);
  border-radius: 20px;
}

.card__icon-container {
  display: flex;
  justify-content: center;
}

.our__numbers-card--icon {
  margin-bottom: 30px;
}

.our__numbers-card--title {
  color: #2F70D9;
  font-family: 'Lora', serif;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 30px;
}

.our__numbers-card--list {
  margin-bottom: 30px;
}

.our__numbers-card--item {
  margin-bottom: 13px;
  font-style: normal;
  padding-left: 25px;
  font-weight: 400;
  line-height: 141.182%;
  letter-spacing: 0.48px;
  color: var(--primary-color);
  position: relative;
}

.our__numbers-card--item::before {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  background: var(--primary-color);
  left: 0;
  top: 6px;
  border-radius: 50%;
}

.price__block {
  display: flex;
  align-items: center;
  flex-direction: column;

}

.price__block-title {
  color: #2F70D9;
  font-family: 'Lora', serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}

.price__block-price {
  font-family: 'Lora', serif;
  font-size: 25px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.75px;
  color: var(--orange-color);
}

/* REVIEWS */
.reviews {
  padding: 50px 0;
}

.reviews__inner {}

.reviews__cards {
  display: flex;
  gap: 30px;
}

.reviews__card {
  max-width: 285px;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.10);
  padding: 25px;
  transition: .5s;
}

.reviews__card:hover {
  transform: scale(1.040);
}

.reviews__card-avatar--container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.reviews__avatar {
  padding: 25px;
  background-color: #BEBEBE;
  border-radius: 50%;
}

.reviews__card-title {
  font-family: 'Lora', serif;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.48px;
  color: var(--blue-color);
  margin-bottom: 30px;
}

.reviews__card-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 141.182%;
  letter-spacing: 0.48px;
  color: var(--primary-color);
  margin-bottom: 28px;
}

.reviews__date {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.date {
  font-size: 14px;
  font-weight: 300;
  line-height: 141.182%;
  letter-spacing: 0.42px;
}